---
import { Font } from "astro:assets";
import heroImage from "@assets/images/profile-picture.png";

interface Props {
	title: string;
}

const { title }: Props = Astro.props;
---

<meta charset="utf-8" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="icon" href="/favicon.ico" />
<Font cssVariable="--font-inter" preload />
<Font cssVariable="--font-fira-code" />
<link rel="preload" as="image" href={heroImage.src} />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<title>{title}</title>
<script is:inline>
    function updateTheme() {
        const storedTheme = localStorage.theme;
        const isSystemDark = window.matchMedia(
            "(prefers-color-scheme: dark)",
        ).matches;

        if (storedTheme) {
            document.documentElement.dataset.theme = storedTheme;
            document.documentElement.classList.toggle(
                "dark",
                storedTheme === "dark",
            );
            return;
        }

        document.documentElement.classList.toggle("dark", isSystemDark);
        document.documentElement.dataset.theme = "system";
    }

    updateTheme();

    window
        .matchMedia("(prefers-color-scheme: dark)")
        .addEventListener("change", updateTheme);
</script>
