---
import { ThemeToggle } from "./ThemeToggle.tsx";
---

<header class="w-full flex gap-2 justify-end">
    <ThemeToggle client:load />
    <nav>
        <ul class="flex gap-2">
            <li><a href="/">home</a></li>
        </ul>
    </nav>
</header>
