---
import { ThemeToggle } from "./ThemeToggle.tsx";
import { AnimatedUnderline } from "./AnimatedUnderline.tsx";
import ArrowDownRight from "@assets/icons/ArrowDownRight.astro";
import { LanguageToggle } from "./LanguageToggle.tsx";
import { useTranslations } from "@i18n/utils.ts";
import { getRelativeLocaleUrl } from "astro:i18n";

const lang = Astro.currentLocale;
const t = useTranslations(lang);
---

<header class="w-full flex gap-3 md:gap-4 justify-end text-sm sm:text-base">
    <!-- these and AnimatedUnderline should be Astro components, I just wanted to try React in Astro. -->
    <LanguageToggle client:load url={Astro.url} lang={lang} />
    <ThemeToggle client:load lang={lang} />
    <div
        class="inline-block h-auto w-px self-stretch bg-neutral-300 dark:bg-neutral-600 my-1.5"
    >
    </div>
    <nav>
        <ul class="flex gap-3 md:gap-4">
            <li>
                <a href={getRelativeLocaleUrl(lang, "/")} class="group">
                    <AnimatedUnderline client:load>
                        {t("header.home")}
                    </AnimatedUnderline>
                </a>
            </li>

            <li>
                <a href="/resume" class="group">
                    <AnimatedUnderline client:load>
                        <div class="flex gap-1 items-center">
                            <span>{t("header.resume")}</span>
                            <ArrowDownRight classes="w-4 h-4" />
                        </div>
                    </AnimatedUnderline>
                </a>
            </li>
        </ul>
    </nav>
</header>
