---
import Head from "@components/Head.astro";
import Header from "@components/Header.astro";
import { Font } from "astro:assets";

import "@styles/global.css";

const { title } = Astro.props;
---

<html lang={Astro.currentLocale}>
    <head>
        <Head title={title} />
        <Font cssVariable="--font-inter" preload />
        <Font cssVariable="--font-fira-code" />
    </head>
    <body class="dark:bg-[#18181A] dark:text-white">
        <div class="min-h-dvh w-full md:max-w-3xl mx-auto py-12 px-4 md:px-8">
            <Header />
            <slot />
        </div>
    </body>
</html>
