---
import Head from "@components/Head.astro";
import Header from "@components/Header.astro";
import { getLangFromUrl } from "@i18n/utils.ts";
import { Font } from "astro:assets";

import "@styles/global.css";

const { title } = Astro.props;

const lang = getLangFromUrl(Astro.url);
---

<html lang={lang}>
    <head>
        <Head title={title} />
        <Font cssVariable="--font-inter" preload />
        <Font cssVariable="--font-fira-code" />
    </head>
    <body class="dark:bg-[#18181A] dark:text-white">
        <div class="h-dvh w-full md:max-w-3xl mx-auto pt-12 px-4 md:px-8 pb-36">
            <Header />
            <slot />
        </div>
    </body>
</html>
